h1 {
    text-align: center;
    font-style: inherit;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 2.7rem ;
}

 .profile-pic img{
        
         width: 150px;
         height: 150px;
         border-radius: 50%;
         object-fit: cover;
         border: 30px;
 }

section{
    max-width: 800px;
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
h2 {
    margin-bottom: 10px;
font-size: 2.4rem;
}
p {
    font-size: 2rem;
}
